p {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue-text {
    color: blue;
    font-size: 36px;
}

.larger-text {
    font-size: 24px;
}

#green-background {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}